@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.swal2-popoup {
  font-family: inherit
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 15s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.playfair-display {
  font-family: 'Playfair Display', serif;
}